*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header-page {
  border-bottom: 1px solid #e7e9fc;
}

.header-page .container {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.nav-logo > span {
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-link {
  display: flex;
  gap: 40px;
}

.nav-link,
.address-list {
  list-style-type: none;
}

.address-list {
  display: flex;
  gap: 40px;
}

.link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.link:hover,
.link:active,
.link:focus {
  color: #404bbf;
}

.link-studio:active::after {
  border: #404bbf;
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
}

.contacts {
  font-style: normal;
}
.link-address {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #434455;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.link-address:hover,
.link-address:focus {
  color: #404bbf;
}
.upper-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background/background-opt.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  display: block;

  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

.features {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.list-item {
  width: calc((100% - 72px) / 4);
}

.icons {
  box-sizing: border-box;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 100px;
  padding-right: 100px;
}

.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.item-container {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.team-list-item {
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.text-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.icon-links-team {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.list-icons-team {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color, border;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.icons-team {
  fill: #f4f4fd;
}

.list-icons-team:hover,
.list-icons-team:focus {
  background-color: #404bbf;
  border: #404bbf;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-cntr {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-image {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out, background-color 500ms ease-in-out;
}

.overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 40px;
  margin-left: 32px;
  margin-right: 32px;
}

.portfolio-list-item:hover .overlay {
  transform: translateX(0);
  background-color: #4d5ae5;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item {
  width: 360px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  transition: box-shadow 500ms ease-in-out;
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.link-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-footer {
  background-color: #2e2f42;
  padding-left: 156px;
  padding: 100px 0;
}

.footer-container {
  flex-grow: 1;
}

.footer-logo {
  display: inline-block;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer-logo > .design {
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.social-media {
  display: flex;
  column-gap: 16px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 0;
}
.media-title {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-list {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
}

.footer-list-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color, border;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-list-item:hover,
.footer-list-item:focus {
  background-color: #31d0aa;
  border: #31d0aa;
}
